@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Cadeteria.Entidades.ClasePedidos>

<table border="1">
    <tr>
        <th>Id pedido</th>
        <th>pedido</th>
        <th>Id cliente</th>
        <th>estado actual</th>
        <th>Cambiar Estado</th>
        <th>Ver Pedido</th>


    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id_pedido</td>
            <td>@item.Pedido</td>
            <td>@item.Cliente.Id_cliente</td>
            <td>@item.Estado</td>
            <td>
                <form asp-controller="Pedido" asp-action="cambiarEstado" method="post">
                    <select name="estado">
                        <option value="EnCamino">En Camino</option>
                        <option value="Entregado">Entregado</option>
                        <option value="Cancelado">Cancelado</option>
                    </select>
                    <input type="text" name="id" value="@item.Id_pedido" hidden />
                    <button type="submit">Guardar</button>
                </form>
            </td>
            <td>
                <form asp-controller="Pedido" asp-action="Info" method="post">
                    <input type="text" name="id" value="@item.Id_pedido" hidden/><button type="submit">ver</button>
                </form>
            </td>
        </tr>
    }

</table>