@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--como desde OrderControler se encio una lista de pedidos debo recibir dicha lista-->
@model List<ServicioDeCadeteria.Entities.OrderClass>

<table border="1">
    <tr>
        <th>Order number</th>
        <th>Client`s Name</th>
        <th>Client´s Adress</th>
        <th>DeliveryMan`s Id</th>
        <th>DeliveryMan`s Name</th>
        <th>Status</th>
        <th></th>
    </tr>
    @{
        
        foreach (var item in Model)
        {
        <tr>
            <td>@item.Order_number</td>
            <td>@item.Client.Name</td>
            <td>@item.Client.Adress</td>
            <td>@item.DeliveryId</td>
            <td>@item.DeliveryName</td>
            <td>@item.Order_status</td>    
            <td>
                <input value="Change Status" type="submit" />
            </td>
        </tr>
            
        }
    }
    
</table>